   <div class="modal fade" id="new_post_path">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Crear un nuevo post</h4>
                </div>
                <div class="modal-body">

                <div id="x" class="alert alert-success" style="display: none">Post creado exitosamente</div>
                <!-- este div se le agrega para que salga el 
                mensaje de post creado exitosamente
                está relacionado a través del id="x" con el archivo
                create.js.erb, el cual se llama con jquery
                con el metodo show, $(#'x').show() -->
                  
                <%= render 'create' %>
                  
                </div>
               </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
    </div><!-- /.ends modal new_post_path -->

