<!--<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p> -->
<p id="notice"><%= notice %></p>
<h1>Nuevo Autor</h1>

<%= render 'create' %>
<br>

<%= link_to 'volver al listado de autores actuales', users_path%>
<%= link_to 'ver los post', posts_path%>